{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard</h1> <h4 class="text-right"> Welcome {{session.username}}</h4>
  <!-- <a class="btn btn-success" href="/add_article"> Add Article</a> -->
  <h2 class="text-right" style="color: #00FF00">Total Applicants: 243</h2>
  <hr>
  <table class="table table-dark table-striped table-hover">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th>Uploaded At</th>
      <!-- <th></th> -->
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">View Resume</a></td>
        <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">View GitHub Profile</a></td>
        <td>{{article.create_date}}</td>
        <!-- <td>
          <form action="{{url_for('delete_article', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
          </form>
        </td> -->
      </tr>
    {% endfor %}
  </table>
{% endblock %}
